.react-multi-carousel-dot button {
  background-color: #dce2eb !important;
  border: 0 !important;
}

.react-multi-carousel-dot--active button {
  background-color:#D41958 !important;
  border: 0 !important;
}

.react-multi-carousel-track li {
  margin:0px;
  width: 100%; 
  height: auto;
}

.gap .react-multi-carousel-track li {
  margin:20px;
  width: 100%; 
  height: auto;
}
@media (max-width: 768px) {
  .gap .react-multi-carousel-track li {
    margin: 0px; /* Adjust margin for mobile */
    width: 100%; 
    height: auto;
  }
}


/* styles.css */
.carousel-container {
  position: relative;
  width: 100%;
  
}

.button-group {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  left: 0;
 

}

.left-button:hover,
.right-button:hover {
  background-color: #D41958 !important;
  /* Darker orange on hover */
}